$body-background-color: #444444;
$navbar-color: #e74c3c;
$main-text-color: white;
$main-font: "Lato", Helvetica, Arial, sans-serif;
$alt-font: "Sanchez", "Georgia", serif;
$code-font: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
$alt-color: coral;
$alt-hover: #E24E35;

@import 'site.scss';
@import '_pygments.scss';