.app-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  font-size: .7em;
  text-align: center;
  margin: 2em auto 1em;
  padding-bottom: .5em;
}

.section-header p, .item-link {
  margin-bottom: 1em;
}
