header {
  padding-top: 1em;
  padding-bottom: .5em;
  margin-bottom: 1em;
  border-bottom: 1px dashed black;
  text-align: center;
}

.nav-link {
  margin-right: 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: .25em;

  &:visited {
    color: black;
  }

  &:hover {
    text-decoration: underline;
    background-color: #EDE4C9;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.menu-name a {
  text-transform: uppercase;
  font-size: 30px;
  text-decoration: none;
  margin: 0 auto 0.1em;
  color: black;
  display: block;
}
