.project-summary {
  margin-bottom: 1em;

  p {
    margin-bottom: 1em;
  }
}

.project-summary-block {
  margin-top: 1em;
}

.project-summary-callout {
  display: inline-block;
  background-color: #c0ffee;
  padding: .5em;
}

.code-block {
  display: block;
  margin-top: 0.5em;
}

code {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 0.5em;
}

.tweet-wrapper .twitter-tweet {
  // `twitter-tweet` is added dynamically by Twitter's JS code
  // need this for specificity
  margin: 0 auto 2em !important;
}
