.project-page {
  text-align: center;
  margin: 0 auto;
}

.project-header {
  font-size: 1.5em;
  margin: 1em auto;
}

.project-summary {
  margin-bottom: 1em;

  p {
    margin-bottom: 1em;
  }
}

.project-summary-block {
  margin-top: 1em;
}

.project-summary-callout {
  display: inline-block;
  background-color: #c0ffee;
  padding: .5em;
}

.project-links {
  margin-bottom: 2em;
}

.project-link {
  margin-bottom: 0.25em;
}

.link-meta {
  margin-left: .25em;

  @media (max-width: 800px) {
    display: block;
    font-size: .75em;
  }
}

.project-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  max-width: 95%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.project-image-description {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .8em;
  margin: .5em 0 1em;
  color: #999999;
}

.code-block {
  display: block;
  margin-top: 0.5em;
}

code {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 0.5em;
}

.tweet-wrapper .twitter-tweet {
  // `twitter-tweet` is added dynamically by Twitter's JS code
  // need this for specificity
  margin: 0 auto 2em !important;
}


.tweet-loading {
  display: inline-block;
  background-color: #e2e2e2;
  padding: 1em 3em;
  margin-bottom: 1em;
  text-align: center;
}
